.not-found-view {
    align-items: center;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
  
.not-found-view h1 {
    color: #5d3fd3;
    font-size: 6rem;
    margin-bottom: 20px;
}
  
.not-found-view p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
  
.not-found-view__button {
    background-color: #5d3fd3;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
}
  
.not-found-view__button:hover {
    background-color: #4b30b3;
}